@mixin gradient{
  background: #1e5799;
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 32%,#7db9e8 100%);
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 32%, #7db9e8 100%);
  background: linear-gradient(135deg, #1e5799 0%,#2989d8 32%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}

@mixin alignCenter {
  display : flex;
  justify-content: center;
  align-items: center;
}

@mixin hw($height : 100vh, $width : 100vw) {
  height : $height;
  width : $width;
}