.ride-form {
  padding : 40px 30px 50px;

  .ride-form-header {
    display : flex;
    justify-content : space-between;
    align-items : center;

    p {
      font-size : 1.2em;
      margin-right : 20%;
    }
  }

  [data-react-toolbox=dropdown], [data-react-toolbox=date-picker] {
    // background : red;

    [data-react-toolbox=input] {
      transition : background .1s linear;
    }
    &:hover {
      [data-react-toolbox=input] {
        background : #eee;
      }
    }
  }

  
  [data-react-toolbox=dropdown]{
    &.bus-list {
      margin-top : 50px;
    }

    &:nth-child(3) {
      margin-top : 40px;
    }
  }

  // .ride-routes {
  //   // display : flex;
  // }

  .bus-item {
    display : flex;
  }
}