@import '../../styles/scss/globals.scss';

div[data-react-toolbox=dialog] > section{
  overflow: auto;
}

.ride-modal {
  height : 70vh;
  // width : 200px;

  .bus-item {
    display : flex;
    height : 40px;
  }
}