@import '../../styles/scss/globals.scss';

.table-content {
  padding-bottom : 40px;
  flex : 1;
  // min-width : 900px;
  // max-width : 1300px;
  
  // @media(min-width : 900px) {
  //   width : 100vw;
  // }
  .table-no-content {
    // [data-react-toolbox=checkbox] {
    //   display : none;
    // }
    border-top : 1px solid #eee;
    border-bottom : 1px solid #eee;
    background : white;
    height : 200px;
    // display : flex;
    @include alignCenter();
  }
  .table-pagination {
    border-radius : 0 0 2px 2px;
    background : white;
    height : 46px;

    // position : absolute;
    @include alignCenter();
    

    ul {
      display : flex;
      
      li {
        &.table-pagination-page, &.previous, &.next {
          &:not(.selected):hover a {
            // &:not(.selected):hover {
              background : #eee;
            // }
          }
          a {
            height : 30px;
            cursor : pointer;
            padding : 0 5px;
            @include alignCenter();
          }
        }
        
        &.table-pagination-page {
          a {
            width : 30px;
            color : red;
            @include alignCenter();
          }

          &.selected {
            background : rgb(209, 209, 209);
          }
        }

        &.previous {
          a {

          }
        }

        &.next {
          a {

          }
        }

        &.break {
          align-self : flex-end;
          color : red;
          margin-bottom : 5px;
        }

      }
    }
  }
}